Backups/
CachedData/
CachedExtensions/
Cookies
Cookies-journal
Network Persistent State
User/
languagepacks.json
logs/
machineid
rapid_render.json
storage.json
my_geonode/uploaded
.idea/
my_geonode/static_root/swm/
