{% extends 'dashboard/base.html' %}
{% load static%}
{% block content %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<style>
.bs-example{
    margin: 20px;
}

.nav-tabs{
background-color:#63c54a;
}





table, th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}
tr:hover {
    background-color: #6e6e6e;
}

.myAttributeTable{
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-collapse: collapse;
  overflow-y: scroll; 
  max-height: 400px;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.table-legend{
  border-collapse: collapse;
  padding: 2px 3px;
  width: 100%;
  /* font-weight: bold; */

}
    

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.leaflet-popup-content{
    font-weight: bold;
}

</style>

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">                <!-- side-bar container -->

  <h2 class="text-center">Deonadi Project<br></h2>
  <hr>
 <!-- Tab for Report , Dashboard , Query Builder -->

           

             <div class="tooltips" title="Please select the Block">
                <select class = 'form-control' id="block" name="block">
                    <option>Select layer</option>
                             <option> Deonadi Streams</option>
                             <option> Deonadi Basin Villages</option>
                             <option> Wells in catchment area</option>

                </select>
            </div>



       
            <div style="text-align: center"> 
                <button style="display: inline-block ;position: relative;top: 100px" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="fa fa-power-off"></span></button> 
            </div>
        </div>


</div>

<!-- Tab ends here -->


<script>
(function() {
   const SINNER_LAT_LONG = [19.8427, 74.0770]; 
   mymap.setView(SINNER_LAT_LONG,11);
})();


    var deonadi = {'Deonadi Basin Villages':['deonadi_villages',19.8427, 74.0770],'Deonadi Streams':['major_streams_dev',19.8427, 74.0770],'Wells in catchment area':['deonadi_wells',19.8427, 74.0770]};
    $('#block').change(function () {
        var deo = document.getElementById('block').value;
        if(deo === 'Deonadi Streams'){
            displayPolygon(deonadi[deo][0],deonadi[deo][1],deonadi[deo][2]);      
            displayPolygon('devnadi_Cachment_generated',deonadi[deo][1],deonadi[deo][2]);      
            
        }if(deo === 'Wells in catchment area'){
            displayPoints('deonadi_wells');      

        }else{
            displayPolygon(deonadi[deo][0],deonadi[deo][1],deonadi[deo][2]);      

        }
    });
    
var geojson;
const domain = ['https://makerghat.urbansciences.in/','http://localhost/'];
var base_url = domain[0] + "geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=application/json&";
var info = L.control();
var attribute_table = L.control({position: 'bottomright'});
var layer_name;





const fontAwesomeIcon = L.divIcon({
    html: '<i class="fa fa-map-marker fa-4x"></i>',
    iconSize: [20, 20],
    className: 'myDivIcon'
});


var LayerList = [];
var pointLayerList = [];

function getColor(d) {
    return d > 6 ? '#FF0000' :
           d > 2  ? '#FFFF00' :
           d > -1  ? '#008000' :
                      '#FFEDA0';
}


function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function style(feature) {
    return {
        weight: 2,
        opacity: 1,
        color: "black",
        fillOpacity: 0
    };
}

function river_style(feature) {
    return {
        weight: 2,
        opacity: 1,
        color: 'blue',
        fillOpacity: 1
    };
}


function display_layer(assessment){
    var name_and_icons = fetch_layer_name();
    if(typeof name_and_icons[1] === 'undefined'){
        mymap.messagebox.show('Please select block and structure');

    }else{
LayerList.forEach(layer => mymap.removeLayer(layer));

        displayPoints(name_and_icons[0],assessment);

    }


}

function clear_layer(){
    LayerList.forEach(layer => mymap.removeLayer(layer));
}


function fetch_layer_name(){
    var layer_name,structureIcon;
    var block = document.getElementById('block').value;
    var structure = document.getElementById('structure').value;
    switch(structure){
        case "Culvert":
            layer_name = "ThakkarBappaYojana_Mokhada_Culvert_1_00";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bars', markerColor: 'red', prefix: 'fa' });
            break;
        case "Dug well":
            layer_name = "ThakkarBappaYojana_Mokhada_Well_1_0";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
            break;
        case "Public Toilets":
            layer_name = "ThakkarBappaYojana_Mokhada_PublicToilet_1_0";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
            break;
        case "Concrete Gutter":
            layer_name = "ThakkarBappaYojana_Mokhada_Well_1_00";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
            break;
        case "Samaj Mandir":
            layer_name = "ThakkarBappaYojana_Mokhada_SamajMandir_1_01";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
            break;
        case "Smashan Bhoomi":
            layer_name = "ThakkarBappaYojana_Mokhada_Smashanbhoomi_1_0";
            structureIcon = L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
            break;

    }




    var name_and_style = [layer_name,structureIcon];
    return name_and_style;

    
}

var geticon = function(){
 return L.AwesomeMarkers.icon({icon: 'bullseye', markerColor: 'blue', prefix: 'fa' });
}

function onEachFeaturePoint(feature, layer) {
	// does this feature have a property named popupContent?
	
		layer.bindPopup(feature.properties.Name);
        console.log(feature.properties.Name);
	
}

function displayPoints(layer_name,assessment){
pointLayerList.forEach(layer => mymap.removeLayer(layer));
mymap.spin(true,{lines: 9, length: 2, width: 20, scale: 60,radius: 70, color: "grey"});
url =base_url + "&typename=geonode%3A"+layer_name;
var geojsonMarkerOptions = {
	radius: 8,
	fillColor: "#ff7800",
	color: "#000",
	weight: 1,
	opacity: 1,
	fillOpacity: 0.8
};

fetch(url)
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    // Examine the text in the response
    response.json().then(function(stressData) {
        console.log(stressData);
        geojson = L.geoJson(stressData.features,{
	pointToLayer: function (feature, latlng) {
		return L.circleMarker(latlng, geojsonMarkerOptions);
	},onEachFeature: onEachFeaturePoint
}).addTo(mymap);
    LayerList.push(geojson);
    pointLayerList.push(geojson);
    mymap.spin(false);
    url = "";

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
});
// }

    
}



function displayPolygon(blockName,lat,long){
// LayerList.forEach(layer => mymap.removeLayer(layer));
layer_url =base_url + "&typename=geonode%3A"+blockName;
if(blockName === 'deonadi_villages'){
    LayerList.forEach(layer => mymap.removeLayer(layer));
    info.addTo(mymap); 
} 
if(blockName === 'major_streams_dev') LayerList.forEach(layer => mymap.removeLayer(layer));

// console.log(blockName);
fetch(layer_url)
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    // Examine the text in the response
    response.json().then(function(geojsonData) {
        mymap.setView([lat, long], 11);
        if(blockName === 'deonadi_villages'){
        geojson = L.geoJson(geojsonData.features, {
        style : style,
        onEachFeature: onEachFeature
    }).addTo(mymap);
        }else if(blockName === 'major_streams_dev'){
        geojson = L.geoJson(geojsonData.features, {style : river_style}).addTo(mymap); 
        }else{
        geojson = L.geoJson(geojsonData.features, {
        style : style,
    }).addTo(mymap);
        }
        
    LayerList.push(geojson);

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
});

    
}

function zoomToFeature(e) {
    mymap.fitBounds(e.target.getBounds());
}


function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}
function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5        
    });
    info.update(layer.feature.properties);
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}



var info = L.control({position: 'bottomright'});

info.onAdd = function (mymap) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// info.update = function (props) {
//     this._div.innerHTML = '<h4>Village Information</h4>' +  (props ?
//         '<b>Village Name:</b>'+props.village_na + '<br /></br>'+
//         '<b>Total Population:</b>'+props.tot_popu + '<br><br>' + 
//         '<b>Area:</b>'+props.area_ha+'<br><br>' + 
//         '<b>Net Area Sown (in Hectares):</b>'+ props.net_area+'<br><br>'+
//         '<b>Forest Area (in Hectares)</b>'+ props.forest + '<br><br>'+
//         '<b>Area Irrigated by Source (in Hectares)<b>' + props.area_irri
//         : 'Hover over a VILLAGE');
// };
info.update = function (props) {
    this._div.innerHTML = '' +  (props ?
    "<table class = 'info-class' ><tr><td>Village Name:</td><td style = 'text-transform: capitalize'><b>"+props.village_na+"<b></td></tr>"+
        "<tr><td>Total Population</td><td>"+props.tot_popu+"</td></tr>"+
        "<tr><td>Area:</td><td>"+props.area_ha+"</td></tr>"+
        "<tr><td>Net Area Sown (in Hectares)</td><td>"+props.net_area+"</td></tr>"+
        "<tr><td>Forest Area (in Hectares)</td><td>"+props.forest+"</tr>"+
        "<tr><td>Area Irrigated by Source (in Hectares)<b></td><td>"+props.area_irri+"</td></tr></table>"
        : 'Hover over a village');
};

</script>


{% endblock %}


